/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.calva/
.clj-kondo/.cache
.clj-kondo/com.github.seancorfield/
.clj-kondo/metosin/
.lsp/
.portal/
.cursor/*
!.cursor/commands
# clj-kondo: ignore all except our defined config
.clj-kondo/*
!.clj-kondo/README.md
!.clj-kondo/ignore
!.clj-kondo/config.edn
!.clj-kondo/config/
!.clj-kondo/src/
!.clj-kondo/test/
!.clj-kondo/macros/

.clojure-mcp
.cpcache

# debug file
tmp
