/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.calva/
.clj-kondo/.cache
.clj-kondo/com.github.seancorfield/
.clj-kondo/metosin/
.lsp/
.portal/
