{:tasks
 {:enter (println "Running task:" (:name (current-task)))

  deps {:doc "Install all deps"
        :task (do
                (clojure "-P -X:dev")
                (clojure "-P -X:test")
                (clojure "-P -X:outdated")
                (clojure "-P"))}

  lint-init {:doc "Linting project's classpath"
             :task (shell "clj-kondo" "--parallel" "--dependencies" "--copy-configs"
                          "--lint" (with-out-str (clojure "-Spath")))}

  lint {:doc "Linting project's code"
        :task (shell "clj-kondo" "--parallel" "--lint" "src" "test")}

  outdated-check {:doc "Check outdated Clojure deps versions"
                  :task (clojure "-M:outdated")}

  outdated {:doc "Upgrade outdated Clojure deps versions"
            :task (clojure "-M:outdated --upgrade --force")}

  test {:doc "Run tests"
        :task (clojure "-M:test:test-runner")}

  check {:doc "Run all code checks and tests"
         :depends [lint outdated test]}}}
