{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.clojure/core.cache {:mvn/version "1.1.234"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.18"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        enlive/enlive {:mvn/version "1.1.6"
                       :exclusions [org.jsoup/jsoup]}
        remus/remus {:mvn/version "0.2.5"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}}
 :aliases {:dev {:extra-paths ["dev-resources"]
                 :extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}}}
           :test {:extra-paths ["test" "test/resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}}
           :test-runner {:main-opts ["-m" "kaocha.runner"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                      :main-opts ["-m" "antq.core" "--no-diff"]} }
 :repl-options {:init-ns super-rss.core}}
